@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body{
    background-image:url("pattern-background-desktop.svg") ;
    background-repeat: repeat-x;
    background-size: auto 50%;
    background-color: hsl(225, 100%, 94%);
    padding-top: 60px;
}
.container-content {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.card{
    width: 450px;
    height: 700px;
    background-color: white;
    border-radius: 20px;
    font-family: Red Hat Display, sans-serif;
    margin: 50px;

}
.card-img img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-title{
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}
.card-title, .card-descr{
    margin-left: 30px;
}
.card-text{
    padding: 13px 60px 10px 35px;
    max-width: 300px;
    margin-left: 24px;

}
.card-text p{
    font-size: 16px;
    color: hsl(224, 23%, 55%);
    line-height: 24px;
}
/*subscription block*/

.subscr-plan{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.card-subtitle{
    margin-bottom: -15px;
}
.subscr-plan-price{
    text-align: left;
    display: flex;
    align-items: center;

}
.subscr-plan-price-img{
    margin-right: 18px;
}
.subscr-plan-price h2{
    font-size: 16px;
    font-weight: 700;
    color: hsl(223, 47%, 23%);
}
/*buttons*/
.card-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 340px;
}
.button{
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 900;
    font-family: Red Hat Display, sans-serif;
    background-color: hsl(245, 75%, 52%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 30px 30px -4px rgba(0, 30, 255, 0.2);
    margin-bottom: 20px;
    border: none;
}
.button p{
    color: white;
}
.card-btn .link{
    text-decoration: none;
    color:  hsl(224, 23%, 55%);
    font-weight: 700;
}
span .link{
    font-weight: 900;
}
/*Hovers*/
span .link:hover{
    color: #867ED5;
    font-weight: 900;
    text-decoration: none;
}
.button:hover{
    background-color: #867ED5;
    cursor: pointer;
}
p .link:hover{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}
/*media*/

@media (max-width: 400px){
    body{
        padding-top: 0;
    }
    .card{
        width: 370px;
        height: 650px;
    }
    .card-text
    {
        position: absolute;
        padding: 0;
        left: -13px;
    }
    .container-content{

        width: 320px;
    }
    .card-img img{
        width: 370px;
    }
}
